.Rproj.user
.Rhistory
.RData
*.Prodq1.synctex.gz
*.pdf
*.docx
*.log
*.snm
*.synctex.gz
*.nav
*.toc
*.tmp
IS-LM/Knitr/IS-LM.nav
*.tex
IS-LM/Knitr/IS-LM.log
Keynes/Knitr/Keynes2.pdf
Keynes/Knitr/figure/GDP-1.pdf
Keynes/Knitr/GDP2-1.pdf
Assignment/Countries.docx
Assignment/EC224 Assignment 2015.docx
Finance/Questions.pdf
Finance/Questions.tex
Monopoly-Competition/Knitr/Slides/Slides-concordance.tex
Monopoly-Competition/Knitr/Slides/Slides.log
Monopoly-Competition/Knitr/Slides/Slides.nav
Monopoly-Competition/Knitr/Slides/Slides.snm
Monopoly-Competition/Knitr/Slides/Slides.synctex.gz
Monopoly-Competition/Knitr/Slides/Slides.tex
Monopoly-Competition/Knitr/Slides/Slides.toc
Regression/Data/Inbox_Report_Interestrateexpectationsassignment.xls
Regression/Data/fm.lbl.mony.cn_Indicator_en_csv_v2.zip
Regression/Knitr/figure/norm-1.pdf
Regression/Knitr/figure/resid-1.pdf
Regression/Knitr/figure/resid2-1.pdf
Regression/SE_reg.log
Regression/SE_reg.pdf
Regression/SE_reg.synctex.gz
Regression/SE_reg.tex
Assignment/In_Class_Test_a.docx
Assignment/In_Class_Test_q.docx
Finance/Data/IMFGDP.xlsx
Finance/Data/IMFInf.xlsx
Finance/Data/balance.xlsx
Finance/Knitr/FinanceSlides.pdf
Finance/Knitr/FinanceSlidesHO.pdf
Money/Knitr/MonQuestions.pdf
Money/Knitr/MonQuestions.tex
Money/Knitr/Money.pdf
Regression/Data/USEmp (1).csv
Regression/Data/USPhil(Complete).xlsx
Regression/Knitr/Regression.pdf
Money/Knitr/MonQuestions.log
Money/Knitr/MonQuestions.synctex.gz
*pdf