.Rproj.user
.Rhistory
.RData
*synctex.gz
*pdf
*docx
*doc
*xlsx
*xls
*cache
*pptx
/Official/ICTAnswers2016.Rmd
/Official/ICTAnswers2016.html
/Assignment/Assignment2016Data.csv
/Official
/Official/EC224 Mark Sheet.xlsx
*.PNG
